@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

 /* @font-face {
  font-family: Nerko One, cursive;
 } */

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --primary: #1A1B29;
    --secondary: #00C6C2;
    --info: #FFF7D6;
    @apply bg-primary text-secondary
  }
  button{
    @apply bg-secondary w-24 h-10 text-primary font-bold cursor-pointer hover:shadow-secondary shadow-xl  rounded-xl my-4 border-2 border-slate-200 flex items-center justify-center
  }
}